<p id="notice"><%= notice %></p>

<p>
  <strong>Training course:</strong>
  <%= @sign.training_course %>
</p>

<p>
  <strong>School:</strong>
  <%= @sign.school %>
</p>

<p>
  <strong>User:</strong>
  <%= @sign.user %>
</p>

<p>
  <strong>Sign time:</strong>
  <%= @sign.sign_time %>
</p>

<%= link_to 'Edit', edit_sign_path(@sign) %> |
<%= link_to 'Back', signs_path %>
