<p id="notice"><%= notice %></p>

<h1>Listing Admin Syllabuses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_syllabuses.each do |admin_syllabus| %>
      <tr>
        <td><%= link_to 'Show', admin_syllabus %></td>
        <td><%= link_to 'Edit', edit_admin_syllabus_path(admin_syllabus) %></td>
        <td><%= link_to 'Destroy', admin_syllabus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syllabus', new_admin_syllabus_path %>
