<p id="notice"><%= notice %></p>

<h1>Listing Admin Signs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_signs.each do |admin_sign| %>
      <tr>
        <td><%= link_to 'Show', admin_sign %></td>
        <td><%= link_to 'Edit', edit_admin_sign_path(admin_sign) %></td>
        <td><%= link_to 'Destroy', admin_sign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sign', new_admin_sign_path %>
